@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
:root {
  --color-bg: #0c0c0c;
  --color-b: black;
  --color-text: #ddd5cf;
  --color-blue: #3b49df;
  --color-orange: #ff9355;
  --color-green: #cdee7f;
  --color-gray: #e6dad1;
  --color-red: rgb(243, 102, 102);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p { font-weight: normal; }

html,
body {
  padding: 0;
  margin: 0;
 /* font-family: 'Orbitron', sans-serif; */
  font-family: 'VT323', monospace;
  /*font-family: 'Electrolize', sans-serif;*/
  background-color: var(--color-bg);
  color: var(--color-text);
  margin-top: 50px;
  font-size: 20px;
}

input { 
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  font-family: 'VT323', monospace;
  font-size: 1rem;
}

a:visited {
  color: var(--color-text);
}
a{text-decoration: none;}

/* Navbar */

.navbar {
  width: 100%;
  height: 60px;
  background-color: var(--color-b);
  color: var(--color-text);
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 0 5% 0 10%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}

.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/* 404 page */

.box-404 {
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:#1A161A;
}

.auth {
  background-image: linear-gradient(to right, #28232A , #2A242C);
}

.box-404 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.box-404 div {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Buttons */

button {
  background-color: var(--color-gray);
  border: none;
  color: var(--color-bg);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'VT323', monospace;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  button {
    font-size: 0.8rem;
  }
  .navbar {
    padding: 0 5px 0 10px;
  }
}

button:hover {
  filter: brightness(90%);
}

button:disabled,
button[disabled]{
  filter: brightness(80%);
  cursor: not-allowed;
}

button.btn-orange {
  background-color: var(--color-orange);
}

button.btn-green {
  background-color: var(--color-green);
}

button.btn-google {
  background-color: white;
}

button.load-more {
  width: fit-content;
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-text);
}

/* Loader */

.loader {
  border: 10px solid var(--color-bg);
  border-top: 10px solid var(--color-orange);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  
}

/* Cards */
.card {
  padding: 2rem;
  background-color: var(--color-text);
  color: var(--color-bg);
  width: 800px;
  margin: 10px auto;
  border-radius: 20px;
}

.card-post {
  padding: 2rem;
  background-color: var(--color-text);
  color: var(--color-bg);
  border-radius: 20px;
  margin-bottom: 10px;
}

.card-post a {
  color: inherit;
}

.card a {
  color: inherit;
}

.text-username span {
  color: var(--color-orange);
  text-shadow:1px 1px var(--color-bg);
}

.card header {
  display: flex;
  align-items: center;
}

.card footer, .card footer span {
  display: flex;
  align-items: center;
}

.card-img-center {
  width: 50%;
  display:block;
  margin: auto;
  border-radius: 50%;
  max-width: 100px;
}

@media only screen and (max-width: 900px) {
  .card {
    width: 90%;
  }
}

/* Utilities */

.push-left {
  margin-left: auto;
}

.text-sm {
  font-size: 0.85rem;
}

.text-danger {
  color: var(--color-red);
}

.text-success {
  color: var(--color-green);
  display: flex;
  align-items: center;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}