.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    justify-content: center;
    gap: 20px;
}

.container section {
    width: 100%;
}

.container aside {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: sticky;
    height: 0;
    top: 80px;
    width: fit-content;
    min-width: 250px;
}


@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
     }
    
    .container aside {
        position: relative;
        top: 0;
        height: auto;
    }
}